@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3rgr58');
  src:  url('fonts/icomoon.eot?3rgr58#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3rgr58') format('truetype'),
    url('fonts/icomoon.woff?3rgr58') format('woff'),
    url('fonts/icomoon.svg?3rgr58#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-like:before {
  content: "\e90a";
}
.icon-thumbs-up:before {
  content: "\e90a";
}
.icon-approve:before {
  content: "\e90a";
}
.icon-verified:before {
  content: "\e909";
}
.icon-arrow_circle_up:before {
  content: "\e900";
}
.icon-keyboard_arrow_up:before {
  content: "\e901";
}
.icon-arrow-right-circle:before {
  content: "\e902";
}
.icon-device-desktop:before {
  content: "\e903";
}
.icon-github:before {
  content: "\e904";
}
.icon-linkedin-square:before {
  content: "\e905";
}
.icon-envelope:before {
  content: "\e906";
}
.icon-moon-o:before {
  content: "\e907";
}
.icon-develop:before {
  content: "\e908";
}
.icon-work:before {
  content: "\e908";
}
.icon-code:before {
  content: "\e908";
}
.icon-program:before {
  content: "\e908";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
